<!doctype html>
<html ng-app="plugh.app">
<head>
	<title>Hi</title>
	<link rel="stylesheet" type="text/css" href="/css/ng-grid.css" />
	<script type="text/javascript" src="/js/angular.js"></script>
	<script type="text/javascript" src="/js/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="/js/ng-grid-2.0.7.debug.js"></script>
	<script type="text/javascript" src="/js/clang_dbg.js"></script>
</head>
<body>


	<h2>Chat</h2>

	<div ng-controller="Chatter">
		<ul>
			<li ng-repeat="n in chats">{{n}}</li>
		</ul>

		<input ng-model="line"><button ng-click="send()">Send</button>
	</div>

	<div ng-controller="Visicalc" id="thingy">
		<hr>
		<button ng-click="more()">More</button>
		<hr>


		<div class="gridStyle" ng-grid="gridOptions" style="height: 150px"></div>

	</div>

</body>
</html>