<!doctype html>
<html ng-app="plugh.app">
<head>
	<title>Hi</title>
	<link rel="stylesheet" type="text/css" href="/css/ng-grid.css" />
	<script type="text/javascript" src="/js/angular.js"></script>
	<script type="text/javascript" src="/js/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="/js/ng-grid-2.0.7.debug.js"></script>
	<script type="text/javascript" src="/js/clang_dbg.js"></script>
</head>
<body>
	<div ng-controller="Visicalc" id="thingy">
		<textarea cols="120" rows="30" ng-model="visiCode"></textarea>

		<br>
		<button ng-click="runTheVisiDemo()">run on server</button>

		<button ng-click="compileVisiToJs()">run in browser</button>

		<hr>
		<div>
			Neg Count {{sentiment['neg-cnt']}}<br>
			Neg Sum {{sentiment['neg-sum']}}<br>
			Neg Avg {{sentiment['neg-sum'] / sentiment['neg-cnt']}}<br>
			Pos Count <span>{{sentiment['pos-cnt']}}</span><br>
			Pos Sum <span>{{sentiment['pos-sum']}}</span><br>
			Pos Avg {{sentiment['pos-sum'] / sentiment['pos-cnt']}}<br>
		</div>
	</div>

</body>
</html>